.top-cart {
  height: 400px;
  background-image: url(./img/cart.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.heading-big {
  color: rgb(255, 255, 255);
  font-size: 64px;
  font-weight: 600;
  line-height: 70px;
  margin-top: 127px;
  margin-top: 128px;
}

.cart {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px;
  margin-top: 64px;
}
.cart__name-box {
  display: flex;
  justify-content: space-between;
  padding-bottom: 14px;
}
.cart__item {
  border-top: 0.5px solid #CACDD8;
  padding-top: 25PX;
  padding-bottom: 32px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.cart__left {
  display: flex;
  gap: 32px;
}
.cart__info {
  width: 276px;
}
.cart__form {
  background: #f7f6f6;
  border-radius: 20px;
  height: 556px;
  grid-column: span 4;
}
.cart__lu {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  text-align: left;
}
.cart__title0 {
  color: rgb(136, 136, 136);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: left;
}
.cart__title1 {
  color: rgb(5, 5, 5);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}
.cart__content {
  grid-column: span 8;
}
.cart__info {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.cart__text {
  margin-top: 32px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 32px;
}
.cart__itog {
  display: flex;
  justify-content: center;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
}
.cart__sum {
  font-size: 24px;
  font-weight: 400;
}
.cart__sum2 {
  font-size: 24px;
  font-weight: 500;
}
.cart__box3 {
  background-color: rgb(247, 246, 246);
  height: 50px;
  width: 70px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  border: none;
}
.cart__box2 {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  border-bottom: 1px solid #000;
  color: #000;
}
.cart__button {
  background: transparent;
  border: 1px solid #000;
  box-sizing: border-box;
  border-radius: 20px;
  color: #000;
  margin-top: 18px;
  height: 40px;
  width: 290px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  margin-left: 44px;
  margin-right: 44px;
  font-family: inherit;
}
.cart__button2 {
  background: transparent;
  border: 1px solid #000;
  box-sizing: border-box;
  border-radius: 50px;
  color: #000;
  margin-top: 18px;
  height: 40px;
  width: 250px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  margin-left: 5px;
  color: rgb(2, 2, 2);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: center;
}
.cart__button2:hover {
  border-radius: 50px;
  /* Color - 7 */
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: center;
}
.cart__link-box {
  word-spacing: 30px;
}

.input {
  background: transparent;
  border: none;
  border-bottom: 1px solid rgb(202, 205, 216);
  margin-bottom: 41px;
  margin-left: 27px;
  margin-right: 64px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  width: 288px;
  border-right: none;
  border-top: none;
  border-left: none;
  outline: none;
}

::-moz-placeholder {
  color: rgb(0, 0, 0);
}

::placeholder {
  color: rgb(0, 0, 0);
}

.sociale2 {
  width: 22px;
  height: 19px;
  position: relative;
  background-image: url(img/twitter.svg);
}

.sociale2:hover {
  width: 22px;
  height: 19px;
  position: relative;
  background-image: url(img/twit1.svg);
}

.sociale0 {
  width: 21px;
  height: 19px;
  position: relative;
  background-image: url(img/telegram.svg);
}

.sociale0:hover {
  width: 21px;
  height: 19px;
  position: relative;
  background-image: url(img/tel1.svg);
}

.sociale3 {
  width: 24px;
  height: 16px;
  position: relative;
  margin-top: 2px;
  background-image: url(img/vk.svg);
}

.sociale3:hover {
  width: 24px;
  height: 16px;
  position: relative;
  margin-top: 2px;
  background-image: url(img/vk1.svg);
}/*# sourceMappingURL=_cart.css.map */